# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
package.json
package-lock.json
dist
dist-ssr
*.local
package.json
package-lock.json

/backend/package-lock.json
/backend/package.json
/backend/node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.venv
packages.json
package-lock.json

Backend/package-lock.json
Backend/package.json
package.json
package-lock.json
Frontend/package-lock.json
Frontend/package.json
Frontend/node_modules/.package-lock.json
Frontend/package-lock.json
Frontend/package-lock.json
Frontend/package.json
Frontend/package-lock.json
Backend/package-lock.json
Backend/package.json
Frontend/package-lock.json
Frontend/package.json
Backend/package-lock.json
Frontend/package.json
Frontend/package-lock.json
Frontend/package-lock.json
Frontend/package-lock.json
Frontend/package.json
Backend/package.json
Frontend/package-lock.json
Frontend/package.json
